<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>tg-bot</title>
    <meta name="description" content="tg-bot - a telegram bot built for fun.">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="https://github.com/xuqingfeng/tg-bot">fork me on github</a></li>
        </ul>
    </nav>
    <header class="biubot">@BiuBot</header>

    <div class="split"></div>

    <div align="center">
        <span class="biubot">@BiuBot</span> has received <span>{{.Request}}</span> requests since last reboot.
    </div>
</div>
</body>
</html>