<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>tg-bot</title>
    <meta name="description" content="tg-bot - a telegram bot built for fun.">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="https://github.com/xuqingfeng/tg-bot">fork me on github</a></li>
        </ul>
    </nav>
    <header class="biubot">@BiuBot</header>

    <div class="split"></div>

    <div align="center">
        至今 <span class="biubot">@BiuBot</span> 已经处理了 <span class="biubot" id="count">0</span> 个请求。
    </div>
</div>
<script>

    var count = {{.}};
    function numberAnimate(id, start, end, duration) {

        var range = end - start,
                current = start,
                increment = end > start ? 1 : -1,
                stepTime = Math.abs(Math.floor(duration / range)),
                obj = document.getElementById(id);
        var timer = setInterval(function () {
            current += increment;
            obj.innerHTML = current;
            if (current == end) {
                clearInterval(timer);
            }
        }, stepTime);
    }

    numberAnimate("count", 0, parseInt(count, 10), 1000);

</script>
</body>
</html>